@model ChangePasswordModel
@{
    Layout = null;
}
<html>
<head>
</head>
<body>
    <form method="post">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-9">
                <div class="form-group">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" onchange="CheckPassword()" class="form-control" />
                    <span asp-validation-for="CurrentPassword" id="CurrentPasswordmsg" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
        </div>
    </form>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $("form").submit(function (e) {
        var currentPass = $('#CurrentPassword').val();
        $.ajax({

            type: "GET",
            url:'@Url.Action("CheckPassword", "Account")?currentPassword='+currentPass,
            data: '',
            success: function (data) {
                if (data == 'False') {
                    $('#CurrentPasswordmsg').text('Current password is invalid!')
                    e.preventDefault();
                }
                else {
                    $('#CurrentPasswordmsg').text('')
                }

            }
        })
    })
        $(document).on('submit', 'form', function (e) {
            e.preventDefault();
        var currentPassword = $("#CurrentPassword").val();
        var newpassword = $("#NewPassword").val();
        var confirmPassword = $("#ConfirmPassword").val();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("ChangePassword", "Account")',
            data: { CurrentPassword: currentPassword, NewPassword: newpassword, ConfirmPassword: confirmPassword },
            success: function (data) {
                setTimeout(function () {
                    alertify.alert('Success', 'Your password has been reset successfully.')}, 500);
                    $('.close-modal').click();
            },
            error: function (result) {
                setTimeout(function () { alertify.alert('', 'Password must contain atleast 1 upper case character, 1 lower case character, 1 number and 1 special symbol') });

            }
        });
        });
    </script>

</body>
</html>


