@{
    Layout = null;
}

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/dist/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="back-bg">
        <div class="container">
            <div class="forgot-section">
                <h4 class="text-center text-success">@ViewBag.Message</h4>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>


