@model ForgotPasswordModel
@{
    Layout = null;
}
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/dist/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="back-bg">
        <div class="container">
            <div class="forgot-section">
                <h1 class="text-center">Forgot Password</h1>
                <div class="row d-flex justify-content-center">

                    <div class="col-md-9">
                        <form asp-action="ForgotPassword" asp-controller="Account">
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button asp-action="Login" asp-controller="Account" class="btn btn-secondary">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @*<script type="text/javascript">
            function CheckMail() {
                var usermail = $('#Email').val();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("CheckMail", "Account")?email=' + usermail,
                    data: '',
                success: function (data) {
                    if (data != true) {
                        $('#emailexistmsg').text('Email not found.You are not a registered user.')
                    }
                    else {
                        $('#emailexistmsg').text('')
                    }

                }
            })
        }
        </script>*@
</body>
</html>
