
@{
    ViewData["Title"] = "GetStarted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="min-height: 743px; width: 100%; overflow:auto">
    <script src='https://widget.ellieservices.com/latest/launcher.js'></script>
    <!-- LAR: barg -->
    <div class="em-widget"
         data-width="100%"
         data-height="800px"
         data-min-height="800px"
         data-site-id="3934846893"
         data-config='{"workFlowId":"127664"}'
         data-name="ecc-loan-app">
    </div>
</div>






