
@model Hypotec.Web.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div style="min-height: 743px;
        width: 100%;
        overflow: auto;" >
    <div class="container-fluid">
        <script src='https://widget.ellieservices.com/latest/launcher.js'></script>
        <div class="em-widget"
             data-width="100%"
             data-height="800px"
             data-min-height="800px"
             data-site-id="3934846893"
             data-name="ecc-borrower-portal">
        </div>
    </div>
</div>

