@model Hypotec.Web.Models.ResourceModel

@{
    ViewData["Title"] = "EditResources";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<section class="Edit-advisor">

    <div class="container-fluid">
        @if (ViewBag.Message != null && ViewBag.Message == true)
        {
            <div class="alert alert-success  alert-dismissible fade show">
                <strong>Success!</strong> Resource updated successfully.
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        }
        @if (ViewBag.Message == false)
        {
            <div class="alert alert-danger  alert-dismissible fade show">
                <strong>Failed!</strong> Resource not updated.
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="form-heading">
                    <h2>Edit Resource <span class="blue-text"> Here </span></h2>
                </div>
                <div class="form-area">
                    <h4></h4>
                    <form class="row" id="savingform" method="post" enctype="multipart/form-data" asp-action="UpdateResource" asp-controller="Resource">
                        <div class="col-md-12 col-12 col-md-lx-12 col-xl-12">
                            <input asp-for="Id" type="hidden" />
                            <div class="form-group">
                                <label for="">Header</label>
                                <textarea asp-for="Header" id="Header" class="form-control"></textarea>
                                @*<input asp-for="Header" class="form-control" />*@
                                <span asp-validation-for="Header" id="errorheader" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-md-lx-12 col-xl-12">
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea asp-for="Description" id="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" id="errorDescription" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-md-lx-12 col-xl-12">
                            <div class="form-group">
                                <select asp-for="Tag" id="tag" class="form-control">
                                    <option>Please Select Option</option>
                                    <option>Homebuying</option>
                                    <option>News & Insight</option>
                                    <option>Refinancing</option>
                                    <option>Tools</option>
                                </select>
                                <span asp-validation-for="Tag" id="errortag" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="resumeArea">
                                <label asp-for="Image" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="Image" class="custom-file-input form-control" id="imageFile">
                                    <label class="custom-file-label" for="imageFile">Choose image</label>
                                </div>
                                @*<span asp-validation-for="Image" id="errorimageFile" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div class="twoButton">
                                        <button type="submit" class="btn" onclick="javascript:return validateResorceVal();">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <a asp-action="AllResources">Back to Resource List</a>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div class="row">
        <div class="col-md-4">
            <form asp-action="EditResources">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tag" class="control-label"></label>
                    <input asp-for="Tag" class="form-control" />
                    <span asp-validation-for="Tag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Header" class="control-label"></label>
                    <input asp-for="Header" class="form-control" />
                    <span asp-validation-for="Header" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@


