
@{
    ViewData["Title"] = "AffiliatedBusinesses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- start contact us page HTML code -->
<section class="affiliatedbusinessesPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="all-caption comm-text">
                    <h2>Affiliated <span class="blue-text">Businesses</span></h2>
                    <p>
                        Hypotec Inc. has a business relationship with the below affiliated businesses.  Each of these businesses may refer you to the services of another and are wholly owned by Hypotec Inc., either directly or through one or more subsidiaries.  Because of these relationships, the referral of a customer by any of the Affiliated Companies to another may provide the referring company, its affiliates and/or their employees with a financial or other benefit.  You are not required to use any of these service providers as a condition of the purchase, sale or refinance of the subject property or to obtain access to any settlement service.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="addbox">
                    <h3>Wizzology LLC</h3>
                    <p class="m-0">
                        Florida License Real Estate Firm <br />
                        License # CQ1059766 <br />
                        21406 Sweetwater Ln N <br />
                        Boca Raton, FL 33428
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact us page HTML code -->
