
@{
    ViewData["Title"] = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- start start page HTML code -->
<section class="about-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about-img-side">
                    <img src="~/images/about-us-photo.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="bellow-content">
                    <h4>A NEW WAY OF LENDING</h4>
                    <h2>Why <span class="blue-text">Hypotec</span></h2>
                    <p>
                        At Hypotec, we’re proud to offer an experienced team who’s here to work for you.Whether you’re shopping for a new home, looking to refinance your current loan or just curious about the home buying process, our dedicated loan officers are here to help you navigate the numbers.  Our best in industry digital platform gives you a simple, clear experience start to finish.
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="bellow-content">
                    <h3>Hypotec is Here</h3>
                    <p>
                        With the massive amounts of information out there, how can you find practical information to get the best mortgage solution for
                        your dream home?  You’ve read tons of different mission statements, heard every claim and now you need to decide who to go with
                        for your loan.  Yes, it is a hard decision.  The majority of mortgage companies operate the exact same way.  After all, they are
                        all working from the same mold.
                    </p>

                    <h3>Best Option</h3>
                    <p>
                        We pride in informing our clients on the best possible option and ensure that they understand the differences between different
                        mortgage options. In order to achieve this, we make sure that our staff understand every detail of the products that we have to offer.
                        Feedback is very important to us, it will ensure that we will keep improving ourselves to better serve you .
                    </p>

                    <h3>Our Mission</h3>
                    <p>
                        Giving people a clear understanding of what a mortgage is based on their unique goals.  Doing it in a transparent and educational way
                        because we all know that mortgages are not straightforward. We bridge the gap of the unknown side of mortgages by educating our customers and
                        finding the best product out there for each individual persons unique situation.  We offer a tailor-made solution for all our clients, we give our
                        clients not just one mortgage option, we will provide several options and explain each of them and their pro and cons and advise you on the best.
                    </p>

                    <h3>Simple and Secure</h3>
                    <p class="p-0">
                        Our digital mortgage technology makes applying for a mortgage (for both a Home Purchase or a Refinance) quick, easy and secure, it ensures our clients
                        the best loan customized to their specific needs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end start page HTML code -->
