
@{
    ViewData["Title"] = "DisclosuresLicenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start contact us page HTML code -->
<section class="disclosuresLicenses">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="all-caption termofuseText">
                    <h2 class="">Disclosures and <span class="blue-text">Licenses</span></h2>
                </div>
            </div>
            <div class="col-md-7"></div>

            @*<div class="col-md-6" id="emailHide">
                    <div id="emailContent">
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <div class="hideinput">
                                <label for="">Email</label>
                                <input type="text" class="form-control" value="" id="email" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="hidebtn">
                                <a href="javascript:void(0);" id="submit" class="btn c-round-btn">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="col-md-12">
                <div class="mcContent">
                    <h5>Hypotec Loans Disclosures and License Information</h5>
                    <p>
                        Hypotec Mortgage is an Equal Housing Lender. As prohibited by federal law, we do not engage in business practices that discriminate on the basis of race, color, religion, national origin, sex, marital status, age (provided you have the capacity to enter into a binding contract), because all or part of your income may be derived from any public assistance program, or because you have, in good faith, exercised any right under the Consumer Credit Protection Act. The federal agency that administers our compliance with these federal laws is the Federal Trade Commission, Equal Credit Opportunity, Washington, DC, 20580.
                    </p>

                    @*<h5>Hypotec Loans State Disclosure Requirements</h5>
                        <p>
                            Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod
                            Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero
                            Eos Et Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea
                            Takimata Sanctus Est Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet,
                            Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et
                            Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Et Accusam Et Justo
                            Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea Takimata Sanctus Lorem
                            Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod
                            Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero
                            Eos Et Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren,
                            No Sea Takimata Sanctus Est Lorem Ipsum
                        </p>*@

                    <ul class=" m-0">
                        <li>Information collected through our websites</li>

                    </ul>
                    @*<p>Visit The NMLS Access Page For More Information.</p>
                        <a href="javascript:void(0);" class="pb-4 d-block">NMLS Access Page</a>

                        <h5>How does it work?</h5>
                        <p>
                            Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat,
                            Sed Diam Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren.
                        </p>*@

                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>California - DFPI</h3>
                            <p class="m-0">Finance Lenders Law License </p>
                            <p class="m-0">License/Registration #: 603D475</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>California – DRE</h3>
                            <p class="m-0">Real Estate Corporation License </p>
                            <p class="m-0">License/Registration #: 01857168</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Colorado</h3>
                            <p class="m-0">Mortgage Company Registration </p>
                            <p class="m-0">License/Registration #: 331734</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Georgia</h3>
                            <p class="m-0">Mortgage Lender </p>
                            <p class="m-0">License/Registration #: 59019</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>New Jersey</h3>
                            <p class="m-0">Residential Mortgage Lender license</p>
                            <p class="m-0">License/ registration #: 331734</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>New York</h3>
                            <p class="m-0">Mortgage Broker/Lender License</p>
                            <p class="m-0">License/Registration #: RMB 208877</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Texas</h3>
                            <p class="m-0">Mortgage Company License </p>
                            <p class="m-0">License/Registration #: 331734</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Florida</h3>
                            <p class="m-0">Mortgage Lender License </p>
                            <p class="m-0">License/Registration #: MLD69</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>North Carolina</h3>
                            <p class="m-0">Mortgage Lender License </p>
                            <p class="m-0">License/Registration #: L-170818</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Alabama</h3>
                            <p class="m-0">Consumer Credit License</p>
                            <p class="m-0">License/Registration #: 22881</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Illinois</h3>
                            <p class="m-0">Residential Mortgage License</p>
                            <p class="m-0">License/Registration #: MB.6761594</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Maryland</h3>
                            <p class="m-0">Mortgage Lender License</p>
                            <p class="m-0">License/Registration #: 06-23074</p>

                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Ohio</h3>
                            <p class="m-0">Residential Mortgage Lending Act Certificate of Registration</p>
                            <p class="m-0">License/Registration #: RM.804690.000</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Tennessee</h3>
                            <p class="m-0">Mortgage License</p>
                            <p class="m-0">License/Registration #: 331734</p>

                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Virginia</h3>
                            <p class="m-0">Broker License</p>
                            <p class="m-0">License/Registration #: MC-7224</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                        <div class="addBoxLis">
                            <h3>Washington</h3>
                            <p class="m-0">Consumer Loan Company License</p>
                            <p class="m-0">License/Registration #: CL-331734</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-12 col-lg-4 col-xl-6">
                        <div class="double-btnText">
                            <h3>State Licenses/Registrations</h3>
                            <a href="https://nmlsconsumeraccess.org/EntityDetails.aspx/COMPANY/331734" target="_blank"><h5>NMLS Consumer Access NMLS ID 331734</h5></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6 d-flex align-items-end justify-content-end">
                        <div class="bottomLink">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#consumercomplaint">Consumer Complaint / Recovery Fund Notice</a>
                        </div>
                    </div>
                    <!-- <div class="mt-3">
                        <a href="javascript:void(0);" class="btn"> Recovery Fund Notice</a>
                        <a href="javascript:void(0);" class="btn"> Consumer Complaint </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
</section>
<!-- end contact us page HTML code -->
