
@{
    ViewData["Title"] = "EmailAndTextPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start contact us page HTML code -->
<section class="termofUse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="all-caption termofuseText">
                    <h2 class="">Email <span class="blue-text">Policy</span></h2>
                </div>
                <div class="mcContent">
                    <h5>What You Need To Know About Email Correspondence.</h5>
                    <p>
                        Hypotec uses a variety of methods to keep in touch with our prospects and clients, including the use of Email messaging.  Email is an efficient means 
                        of communicating a message. However, due to its brief and informal nature, Email may not accurately represent the entire or final disposition of a 
                        matter or the official business records of the Company.
                    </p>
                    <p>
                        In most instances, communications on a particular matter are exchanged through multiple channels such as through Emails, faxes, voicemails, letters, 
                        SMS, telephone, and in person.  Because of this, Email, by itself, may not accurately reflect the complete communication or intent of the Company as 
                        to the subject matter referred to within the communication, nor constitute an official business record of the Company. All official matters should be
                        subsequently confirmed in signed writings.
                    </p>
                    <p>
                        Email communications are not intended to be interpreted by the Company as an interest rate lock, an unconditional loan commitment, an unconditional 
                        loan approval, unconditional qualification, or any unconditional offer or agreement to lend. Such documents and agreements are generally sent to 
                        clients in formal signed writings from the Company.  Emails from our Company do not contain or constitute an electronic signature, even if the 
                        sender's name appears in the Email.
                    </p>

                    <h5>We Take Confidentiality Seriously.</h5>
                    <p>
                        Emails and all subsequent attachments sent by our Loan Advisors are confidential and are to be reviewed and/or disclosed to only the individual or 
                        entity to whom they are addressed and intended. If you received an Email in error or if it was improperly forwarded to you, the information contained 
                        in the Email should, at all times, remain confidential and such circumstances shall not authorize you to use or disclose the confidential information. 
                        Please notify the sender immediately by telephone or Email, and delete or destroy the original and any copies. Any unauthorized use, disclosure, 
                        reproduction, or distribution is strictly prohibited. Emails marked as "Confidential" contain confidential and/or proprietary information that is 
                        disclosed under the condition that you treat and maintain such information strictly in a confidential manner and in compliance with applicable privacy 
                        laws.  By accepting and reviewing Confidential information provided by the Company, you agree to indemnify and hold the Company harmless against any 
                        and all claims, losses, liabilities, or expenses, including attorney's fees that the Company may incur as a result of the unauthorized use or 
                        disclosure of confidential information due to your acts or omissions.
                    </p>

                    <h5>Regarding Unsecured Transmissions.</h5>
                    <p>
                        You should be aware that regular Email is typically sent via the Internet which is an open network. While certain designated areas within our 
                        websites employ technologies to secure your data and the transmissions between you and our Company, general Email uses the Internet which is an 
                        open system and we cannot provide absolute assurances that all Email transmissions (sent or received) are secure, error free, not corrupted, 
                        incomplete or virus free and/or that they won't be lost, misdelivered, destroyed, delayed, or intercepted/decrypted by others. Therefore the 
                        Company advises against sending sensitive or personally identifiable information, over Email, and disclaims all liability with regard to Emails 
                        (and the contents therein) if they are corrupted, lost, destroyed, delayed, incomplete, misdelivered, intercepted, decrypted or otherwise 
                        misappropriated by others.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact us page HTML code -->
