
@{
    ViewData["Title"] = "EmployeeBenifit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="affiliatedbusinessesPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="all-caption comm-text">
                    <h2>Employee <span class="blue-text">Benefits</span></h2>
                    <p>
                        Hypotec offer’s top notch health insurance plans, and we cover half of the cost! We offer benefit-enriched PPO plans that are insured by BlueCross BlueShield, and each plan can be used anywhere in the United States. No referrals needed!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
