
@{
    ViewData["Title"] = "HowToLandADeal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blogDetailsPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="all-caption text-center">
                    <h2>Navigating Today’s Hot Real Estate Market – <span class="blue-text">How To Land A Deal </span></h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="blogDetailsContent text-center">
                    <p>
                        Supply is low which is pushing home prices higher and higher.  In this hot market, it can be hard for buyer’s to land a
                        deal.  We break it down to four simple steps below on how to navigate the market and come out on top when searching for
                        your next home.
                    </p>

                    <h3>Figure Out Your Number</h3>
                    <p>
                        It is best to have confidence in what you can afford.  What do your existing expenses and debts look like?  Take a look at
                        what your current monthly costs are and start building from there.  It’s important to factor in all associated costs with
                        owning a home.  This may include the principal payment amount, interest, taxes, insurance and HOA fees.  Are you currently
                        living in a one bedroom apartment and looking for a 3/2 home?  You can expect utility fees to increase as well.  Figure out
                        your number you’re comfortable with to help you determine how much home you truly can afford.
                    </p>

                    @*<img src="~/images/about-d.png" class="img-fluid" alt="" />*@

                    <h3>Get Pre-Approved For A Mortgage</h3>
                    <p>
                        When looking for a new home in today’s market, the most important step you need to take is to get pre-approved for a loan.
                        A mortgage pre-approval will give you a sense of the amount you are qualified to borrow, what your interest rate will likely
                        be and the amount of your monthly mortgage payment.  Getting pre-approved helps you shop for homes within your means and
                        shows you're a serious buyer. If you start home shopping before you finish the pre-approval process, you may be in for a
                        not so nice surprise when you apply for a mortgage and discover you qualify for much less.  If you’re in the market to buy
                        a home, <a href="#">start your pre-approval process here today</a>.
                    </p>

                    <h3>Secure An Experienced Real Estate Agent</h3>

                    <p>
                        Once you’ve been pre-approved, your next step is to find a reputable, experienced Real Estate Agent to work with.  It is
                        integral to work with an agent who has a strong knowledge of the local community you’re looking to purchase in.  It will
                        be advantageous for them to also have solid relationships with other realtors in the area.  Your Real Estate Agent will
                        be your right hand man (or woman) throughout this entire process.  Check out our recommended agents for your local market
                        to get you started on the right path.
                    </p>

                    <h3>Stand Out From The Crowd</h3>

                    <p>
                        So you have your pre-approval letter, you’ve partnered with a rock star Real Estate Agent – what next?  Once you find your
                        next dream home, be prepared to go that extra step.  Know that the seller is likely receiving many other offers accompanied
                        with yours.  To win over the seller, try to form a relationship with them by writing a heartfelt letter or having your agent
                        paint a positive picture of you as a buyer.  There are other strategies that can be used to give you the upper hand over
                        other bidders as well such as waiving all inspections.  Consult with your Real Estate Agent to see what is recommended and
                        most strategic for your situation.  At the end of the day, when it comes down to it, what you offer will be what stands out
                        the most.  Time is your friend in today’s market – don’t get caught in a bidding war that ends in you having over paid for
                        your home.
                    </p>

                    <p>
                        Those on the house hunt these days will likely find themselves putting in multiple offers over the course of their home
                        search.  But if you follow the strategic outline above, you will be well equipped and on your way to securing your dream
                        home in this hot real estate market.
                    </p>
                    <a href='@Url.Action("Blogs", "Aboutus")'>Go To Blog</a>
                </div>
            </div>
        </div>
    </div>
</section>
