
@{
    ViewData["Title"] = "PreApprovedForAMortgage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blogDetailsPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="all-caption text-center">
                    <h2>Why Should I Get <span class="blue-text">Pre-Approved For A Mortgage?</span></h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="blogDetailsContent text-center">
                    <p>
                        You’re moving across the country – how exciting!  Before you start loading up your moving truck, you want to find a place to
                        live.  Just landed your dream job – so many feelings and emotions.  Let’s get the contract signed before you start decorating
                        your office.  The same mindset comes into play when you’re looking to purchase a new home.  Your first step to ensure
                        everything goes smoothly?  Get pre-approved.  Serious homebuyers should start the process by obtaining their pre-approval
                        letter, not by visiting an abundance of open houses.
                    </p>

                    <h3>What Does Getting Pre-Approved Mean?</h3>
                    <p>
                        A mortgage pre-approval means a loan adviser has looked at your finances including your income, debt, assets and credit
                        history to determine how much money you can borrow.  They’ll also be able to advise how much you could pay per month and
                        what your interest rate would look like.  Think of it as getting a gold star for being a suitable candidate for a mortgage.
                        You then can take that pre-approval letter you receive to show sellers that a lender is willing to work with you.  Your
                        pre-approval will be valid for a specific time frame, usually 60-90 days.
                    </p>

                    @*<img src="~/images/about-d.png" class="img-fluid" alt="" />*@

                    <h3>Pre-Approval = Organization</h3>
                    <p>
                        While working with a loan advisor to obtain pre-approval, you gain an upper hand by being able to identify any possible
                        credit issues or errors.  This really helps you to prepare and fix anything you may have been unaware of within your
                        finances.  By going through the pre-approval process as well, you’ll have all of your documentation in order for when
                        you’re ready to purchase that dream home.  Pre-approval is setting you up for success during the entire process!
                    </p>

                    <h3>That Letter Shows You’re Committed </h3>

                    <p>
                        The housing market is extremely competitive right now.  You need to be prepared to stand out from the crowd if you want your
                        offer to be accepted by a seller.  The first and possibly biggest piece to that puzzle?  Having your pre-approval letter.
                        This shows that you’re serious about buying, that a bank has already verified your information and you’re well into your
                        journey of starting the mortgage process.
                    </p>
                    <p>
                        If you’re serious about home buying, get pre-approved today..  There are more buyers than sellers in today’s market and
                        you want to come in strong with every advantage under your belt.  An extra bonus to having that letter?  You will be able
                        to reduce timelines and it will improve your ability to close your loan faster.  Take that first step and set yourself up
                        for success today!
                    </p>
                    <a href='@Url.Action("Blogs", "Aboutus")'>Go To Blog</a>
                </div>
            </div>
        </div>
    </div>
</section>

