
@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start contact us page HTML code -->
<section class="privacypolicy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="all-caption termofuseText">
                    <h2 class="">Privacy <span class="blue-text">Policy</span></h2>
                    <p>
                        Client privacy is something we take very seriously. We acknowledge and empathize that your privacy is important. This 
                        Privacy Policy describes how we collect and use the personal information that we collect from you through our website, 
                        application, phone, email or text.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mcContent">
                    <div class="maintbs nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one"
                           role="tab" aria-controls="v-pills-one" aria-selected="true">Our pledge to you</a>

                        <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two"
                           role="tab" aria-controls="v-pills-two" aria-selected="false">Collecting Information</a>

                        <a class="nav-link" id="v-pills-three-tab" data-toggle="pill" href="#v-pills-three"
                           role="tab" aria-controls="v-pills-three" aria-selected="false">
                            Your Privacy
                        </a>
                        <a class="nav-link" id="v-pills-four-tab" data-toggle="pill" href="#v-pills-four"
                           role="tab" aria-controls="v-pills-four" aria-selected="false">Opt Out</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel"
                         aria-labelledby="v-pills-one-tab">
                        <div class="mcContent">
                            @*<h5>Please Read</h5>*@
                            <p>
                                At Hypotec, we have dedicated ourselves to pioneering the home loan process and helping individuals use 
                                their home financing options as a tool to empower their financial lives. With that effort, we respect and 
                                protect the privacy of those who visit or use our various channels of application.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-two" role="tabpanel"
                         aria-labelledby="v-pills-two-tab">
                        <div class="mcContent">
                            <p>
                                When we collect information from you, we want you to know how it is used.  By utilizing our various communication
                                channels, you are consenting to the use of information and agreeing to these guidelines alongside all other Hypotec
                                policies depicted on our website.
                            </p>
                            <p>
                                When you use the website or any other communication channel, we may collect personal information about you, such as
                                your name, address, Social Security number, telephone number, email address, asset information, income information,
                                or any other information that you submit on applications or other forms made available through the website, phone,
                                email or text.
                            </p>
                            <p>
                                We may also collect personal information about you from third party sources.  This may be combined with information 
                                that you provided to us or we previously collected.  Under no circumstances do we sell your data.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-three" role="tabpanel"
                         aria-labelledby="v-pills-three-tab">
                        <div class="mcContent">
                            <p>
                                Hypotec does not share your personal information with outside companies for their promotional use without your consent.
                                When working with our team, we will verify your identity using your personal info to help protect against fraud.  We use
                                encryption technologies when transmitting information to and from the website and application.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-four" role="tabpanel"
                        aria-labelledby="v-pills-four-tab">
                        <div class="mcContent">
                            <p>
                                You may opt-out of any future marketing contacts from us at any time. You can do the following by visiting <a href="#"> http://stage.hypotec.com/Aboutus/CommunicationOptOut</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- end contact us page HTML code -->
