
@{
    ViewData["Title"] = "RefinanceYourMortgage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blogDetailsPage">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12">
                <div class="all-caption text-center">
                    <h2>Reasons Why You Should <span class="blue-text">Refinance Your Mortgage</span></h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="blogDetailsContent text-center">
                    <p>
                        Unless you’re living under a rock, we’re sure you’ve heard the news that interest rates are at ALL TIME LOWS.  But what does
                        this mean?  If you are finding it difficult to service your mortgage, or wish to benefit from lower interest rates, you can
                        opt for refinancing. Many private and government-controlled home refinancing programs are available to the general public.
                        As long as you meet their criteria, you can refinance your mortgage.
                    </p>

                    <h3>Why Would I Refinance My Mortgage?</h3>
                    <p>
                        There are a plethora of good reasons to look into refinancing.  Our knowledgeable loan advisors can always discuss your
                        options and needs with you directly.  If you’re looking to do a little more research before making the call, check out
                        some common reasons refinancing is a good idea below.
                    </p>

                    @*<img src="~/images/about-d.png" class="img-fluid" alt="" />*@

                    <h3>Shorten the Duration of Your Loan</h3>
                    <p>
                        The guesswork is minimal on why this would be a goal you’re looking to achieve.  A top reason why people look into
                        refinancing their mortgage is they’re looking to shorten the period of their loan.  Many people find themselves in
                        a stable financial situation and are looking for ways to rid themselves of their pesky monthly mortgage payment sooner.
                        Refinancing offers the opportunity to shorten the term of your loan, very possibly at a significantly lower rate, thus
                        SAVING you 1000’s of dollars off the life of your loan.
                    </p>

                    <h3>Cash Out Home Equity </h3>

                    <p>
                        With refinancing, you have the option to use your home equity as an asset. You can obtain financing against your equity in
                        the home that you can invest.  Simply put, a cash out refinance is a mortgage refinancing option where an old mortgage is
                        replaced for a new one with a larger amount than owed on the previously existing loan.  This helps borrowers use their home
                        mortgage to get some cash for whatever they may need.
                    </p>

                    <h3>Lessen Your Monthly Payments</h3>
                    <p>
                        One of the most common reasons one may look to refinance their loan is to lessen their monthly payment.  If you successfully
                        refinance your loan at a lower interest rate, you would be able to save hefty amounts on interest.  The extra cash that you
                        save monthly due to lower interest rates could be then be invested elsewhere.
                    </p>

                    <h3>Obtain Lower Interest Rates</h3>
                    <p>
                        We’ve said it once and we’re saying it again – INTEREST RATES ARE AT ALL TIME LOWS.  Higher interest rates could mean you’re
                        paying more than what your house is worth and if that’s the case, it’s better if you start saving thousands of dollars by
                        simply refinancing. Even better, you could get lower interest rates for a shorter loan period which would make it a true
                        win-win situation.
                    </p>

                    <h3>Switch from Adjustable Rate Mortgage (ARM) to Fixed Rate Mortgage</h3>
                    <p>
                        If you are on an adjustable rate mortgage plan, it is wise to keep apprised of when interest rates drop down to the lowest points. When
                        interest rates are low, as they are now, it is smart to immediately refinance your mortgage and switch to fixed rate mortgage.  This will
                        help you lock in a lower interest rate and negate any increase in the rates that you would have had to pay on an adjustable rate.
                    </p>
                    <a href='@Url.Action("Blogs", "Aboutus")'>Go To Blog</a>
                </div>
            </div>
        </div>
    </div>
</section>

