
@{
    ViewData["Title"] = "SecurityPrivacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start contact us page HTML code -->
<section class="termofUse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="all-caption termofuseText">
                    <h2 class="">Security <span class="blue-text">Privacy</span></h2>
                </div>
                <div class="mcContent">
                    <h5>Your Security & Privacy Is In Good Hands.</h5>
                    <p>
                        At Hypotec, we respect and protect the privacy of those who visit or use our application.  We have committed ourselves to streamlining the home loan
                        process. When we collect information from you, we will always offer full transparency and want you to know how it is used.
                    </p>
                    <p>
                        By using our application, you are consenting to the use of information and agreeing to these guidelines and the other Hypotec policies described in our application.
                    </p>
                    <p>
                        Hypotec does not share your personal information with outside companies for their promotional use without your consent.
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Sources of collected data:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Information collected through our websites</td>
                                </tr>
                                <tr>
                                    <td>Information you provided when getting a product or a service from us</td>
                                </tr>
                                <tr>
                                    <td>Information you provided when signing up for communications from us</td>
                                </tr>
                                <tr>
                                    <td>Information you provided through telephone or web-based surveys, customer service correspondence or general feedback</td>
                                </tr>
                                <tr>
                                    <td>Information you provided through telephone or web-based surveys, customer service correspondence or general feedback</td>
                                </tr>
                                <tr>
                                    <td>Information collected using web technologies</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Ways we might use your data:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>InformationLoan origination</td>
                                </tr>
                                <tr>
                                    <td>Auditing</td>
                                </tr>
                                <tr>
                                    <td>Fraud detection</td>
                                </tr>
                                <tr>
                                    <td>Marketing</td>
                                </tr>
                                <tr>
                                    <td>Internal research</td>
                                </tr>
                                <tr>
                                    <td>Quality control</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact us page HTML code -->
