
@{
    ViewData["Title"] = "SiteAccessibility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- start contact us page HTML code -->
<section class="siteaccessibilityPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="all-caption comm-text">
                    <h2>Site <span class="blue-text">Accessibility</span></h2>
                    <p>
                        Hypotec Inc. is dedicated to making our websites accessible to everyone, including individuals with disabilities. To report a problem or request an accommodation, please contact <a href="mailto:info@hypotec.com">info@hypotec.com</a> or reach us by phone at   <a href="tel:+844-497-6832" class="black-text">(844) 497-6832</a> In your message, please include the web page address or URL and the specific problems you have encountered.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact us page HTML code -->