
@{
    ViewData["Title"] = "StateLicensing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start start page HTML code -->
<section class="stateLicensing-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="findAnEximg">
                    <img src="~/images/h-map.PNG" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="all-caption stateLin-text">
                    <h2>Where we do <span class="blue-text">business</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rightLeftSection">
    <div class="row align-items-center">
        <div class="col-md-3">
            <div class="double-btnText text-center">

            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>California - DFPI</h3>
                        <p class="m-0">Finance Lenders Law License </p>
                        <p class="m-0">License/Registration #: 603D475</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>California – DRE</h3>
                        <p class="m-0">Real Estate Corporation License </p>
                        <p class="m-0">License/Registration #: 01857168</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Colorado</h3>
                        <p class="m-0">Mortgage Company Registration </p>
                        <p class="m-0">License/Registration #: 331734</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Georgia</h3>
                        <p class="m-0">Mortgage Lender </p>
                        <p class="m-0">License/Registration #: 59019</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>New Jersey</h3>
                        <p class="m-0">Residential Mortgage Lender license</p>
                        <p class="m-0">License/ registration #: 331734</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>New York</h3>
                        <p class="m-0">Mortgage Broker/Lender License</p>
                        <p class="m-0">License/Registration #: RMB 208877</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Texas</h3>
                        <p class="m-0">Mortgage Company License </p>
                        <p class="m-0">License/Registration #: 331734</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Florida</h3>
                        <p class="m-0">Mortgage Lender License </p>
                        <p class="m-0">License/Registration #: MLD69</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>North Carolina</h3>
                        <p class="m-0">Mortgage Lender License </p>
                        <p class="m-0">License/Registration #: L-170818</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Alabama</h3>
                        <p class="m-0">Consumer Credit License</p>
                        <p class="m-0">License/Registration #: 22881</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Illinois</h3>
                        <p class="m-0">Residential Mortgage License</p>
                        <p class="m-0">License/Registration #: MB.6761594</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Maryland</h3>
                        <p class="m-0">Mortgage Lender License</p>
                        <p class="m-0">License/Registration #: 06-23074</p>

                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Ohio</h3>
                        <p class="m-0">Residential Mortgage Lending Act Certificate of Registration</p>
                        <p class="m-0">License/Registration #: RM.804690.000</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Tennessee</h3>
                        <p class="m-0">Mortgage License</p>
                        <p class="m-0">License/Registration #: 331734</p>

                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Virginia</h3>
                        <p class="m-0">Broker License</p>
                        <p class="m-0">License/Registration #: MC-7224</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-4">
                    <div class="addBoxLis">
                        <h3>Washington</h3>
                        <p class="m-0">Consumer Loan Company License</p>
                        <p class="m-0">License/Registration #: CL-331734</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 col-xl-6">
                    <div class="double-btnText">
                        <h3>State Licenses/Registrations</h3>
                        <a href="https://nmlsconsumeraccess.org/EntityDetails.aspx/COMPANY/331734" target="_blank"><h5>NMLS Consumer Access NMLS ID 331734</h5></a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 d-flex align-items-end justify-content-end">
                    <div class="bottomLink">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#consumercomplaint">Consumer Complaint / Recovery Fund Notice</a>
                    </div>
                    <!-- <div class="mt-3">
            <a href="javascript:void(0);" class="btn"> Recovery Fund Notice</a>
            <a href="javascript:void(0);" class="btn"> Consumer Complaint </a>
        </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="applyModal reqclbk">
    <div class="modal fade" id="consumercomplaint" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="consumercomplaintLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header diffheading d-block text-center">
                    <h5 class="modal-title" id="consumercomplaintLabel">
                        Figure: 7 TAC §80.200(b)
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <p>
                            "Consumers Wishing To File A Complaint Against A Company Or A
                            Residential Mortgage Loan Originator Should Complete And Send A
                            Complaint Form To The Texas Department Of Savings And Mortgage
                            Lending, 2601 North Lamar, Suite 201, Austin, Texas 78705. Complaint
                            Forms And Instructions May Be Obtained From The Department’s
                            Website At Www.sml.texas.gov. A Toll-free Consumer Hotline Is
                            Available At 1-877-276-5550.
                        </p>
                        <p>
                            The Department Maintains A Recovery Fund To Make Payments Of
                            Certain Actual Out Of Pocket Damages Sustained By Borrowers
                            Caused By Acts Of Licensed Residential Mortgage Loan Originators. A
                            Written Application For Reimbursement From The Recovery Fund
                            Must Be Filed With And Investigated By The Department Prior To The
                            Payment Of A Claim. For More Information About The Recovery Fund,
                            Please Consult The Department’s Website At Www.sml.texas.gov."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end start page HTML code -->
