
@{
    ViewData["Title"] = "TermsOfUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- start contact us page HTML code -->
<section class="termofUse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="all-caption termofuseText">
                    <h2 class="">Terms of <span class="blue-text">Use</span></h2>
                </div>
                <div class="mcContent">
                    @*<h5>Please Read</h5>*@
                    <p>
                        These Terms of Use govern your use of this website. Please read these terms and conditions carefully before using this website. By accessing or using this website, you agree to all Terms of Use. If you do not agree to all of the terms, please immediately cease utilizing this website.
                    </p>

                    @*<h5>Content</h5>*@
                    <p>
                        This website is owned and operated by Hypotec, Inc. and delivers general information about our products and services. Your eligibility for products and services is subject to our final determination, restrictions, and acceptance. We may terminate or alter the information, products, licenses, or services described on this website at any time.  We reserve the right to terminate any or all offerings without prior notice. By offering information, products, or services via this website, no solicitation is made by us to any person to use such information, products, or services in jurisdictions where the provision of information, products, or services is prohibited by law.
                    </p>

                    @*<h5>Accessing the Website</h5>*@
                    <p>
                        Although we attempt to provide accurate and current information on this website, there may be inadvertent, technical, or factual inaccuracies and typographical errors. For these reasons we cannot certify the accuracy, completeness, or timeliness of the information, text, graphics, links, or other items on this website.
                    </p>

                    @*<h5>SMS Consent</h5>*@
                    <p>
                        By accessing or using this website, you acknowledge that we may amend all or any part of these Terms of Use, including, without limitation, establishing, increasing, or decreasing the fees and charges for products and services made available through this website.  This also accounts for any changes in the features and functionality to this website.  It is recommended to review these Terms of Use periodically for any changes.
                    </p>  
                    <p>
                        June 2021
                    </p>
                    @*<h5>Your Information</h5>*@
                    @*<p>
                            Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam
                            Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea Takimata Sanctus Est Lorem Ipsum Dolor Sit Amet. Lorem Ipsum
                            Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Et
                            Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea Takimata Sanctus Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam
                            Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd
                            Gubergren, No Sea Takimata Sanctus Est Lorem Ipsum
                        </p>

                        <h5>Consent to Employment Verification</h5>
                        <p>
                            Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam
                            Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea Takimata Sanctus Est Lorem Ipsum Dolor Sit Amet. Lorem Ipsum
                            Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua.
                        </p>

                        <h5>Limitations of Liability</h5>
                        <p>
                            Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam
                            Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea Takimata Sanctus Est Lorem Ipsum Dolor Sit Amet. Lorem Ipsum
                            Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua.
                        </p>

                        <h5>Other Terms & Conditions</h5>
                        <p>
                            Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam
                            Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea Takimata Sanctus Est Lorem Ipsum Dolor Sit Amet. Lorem Ipsum
                            Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua.
                        </p>

                        <h5>Changes to these Terms of Use</h5>
                        <p>
                            Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam
                            Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea Takimata Sanctus Est Lorem Ipsum Dolor Sit Amet. Lorem Ipsum
                            Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua.
                        </p>*@

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact us page HTML code -->
