
@{
    ViewData["Title"] = "Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start purchase page HTML code -->
<section class="mortgageCalculatorPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="all-caption blog-text">
                    <h2>Mortgage <span class="blue-text">Calculator</span></h2>
                </div>
            </div>
            <div class="col-md-12 p-0">
                <div class="mortgageCalculator">
                    <h4>Calculate your monthly payment and review your loan options.</h4>
                    <div class="formBase">
                        <form class="row lign-items-center" action="#">
                            <div class="form-group col-3 mb-3">
                                <label for="">I want to...</label>
                                <select class="form-control" id="">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group col-3 mb-3">
                                <label for="">What Is Your Mortgage Balance?</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text border-right-0 bg-transparent"><i class="fas fa-dollar-sign"></i></div>
                                    </div>
                                    <input type="text" class="form-control border-left-0" />
                                </div>
                            </div>
                            <div class="form-group col-3 mb-3">
                                <label for="">Approximately What Is Your Home Worth Today?</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text border-right-0 bg-transparent"><i class="fas fa-dollar-sign"></i></div>
                                    </div>
                                    <input type="text" class="form-control border-left-0" />
                                </div>
                            </div>
                            <div class="form-group col-3 mb-3">
                                <label for="">Are You A Veteran Or Currently Serving In The Military?</label>
                                <div class="d-flex justify-content-center">
                                    <div class="radioBoxDiv d-flex justify-content-center">
                                        <div class="yesBox">
                                            <input class="" type="radio" name="exampleRadios" id="exampleRadios1" value="Yes" checked />
                                            <div class="onSelect">
                                                <p class="m-0">Yes</p>
                                            </div>
                                        </div>
                                        <div class="yesBox">
                                            <input class="" type="radio" name="exampleRadios" id="exampleRadios1" value="Yes" />
                                            <div class="onSelect">
                                                <p class="m-0">No</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-3">
                                <label for="">What Is Your Home's ZIP Code?</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-3 mb-3">
                                <label for="">How Would You Rate Your Credit?</label>
                                <select class="form-control" id="">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="text-center form-btn pt-4">
                                    <a href="javascript:void(0);" class="btn">Calculate</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-12 p-0">
                <div class="mortgageCalculatorResult">
                    <h4>We Recommend These Options For You</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="resultBoxArea">
                                <div class="rBoxHeader d-flex justify-content-between">
                                    <h4 class="p-0">Monthly Payment <span class="blue-text resultRate">$1,342.13</span></h4>
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            View Closing Costs
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                            <div class="gContentRate">
                                                <ul class="m-0">
                                                    <li>Net Fees <span>$6797.50</span></li>
                                                    <li>VA Funding Fee <span>$0.00</span></li>
                                                    <li>Mortgage Insurance <span>$0.00</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rBoxContent">
                                    <div class="imgList">
                                        <div class="gImage">
                                            <img src="assets/images/graph-circle.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="gContentList">
                                            <ul class="m-0">
                                                <li><div><span class="fColor"></span> Principal And Interest</div> <h5>$884.20</h5></li>
                                                <li><div><span class="sColor"></span> Taxes</div> <h5>$208.33</h5></li>
                                                <li><div><span class="tColor"></span> Insurance</div> <h5>$291.67</h5></li>
                                                <li><div><span class="ftColor"></span> PMI</div> <h5>$0.00</h5></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gContentRate">
                                        <div class="sContent">
                                            <span>You Will Save</span>
                                        </div>
                                        <h3 class="blue-text">$ 457.87 <small>Per Month</small></h3>
                                        <ul class="m-0">
                                            <li>Term <span>30-Year Fixed</span></li>
                                            <li>Rate/APR <span>2.99% / 3.217%</span></li>
                                            <li>Monthly Payment <span>$1,342.13</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="rBoxFooter">
                                    <a href="javascript:void(0);" class="btn">Get Your Custom Rate</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="resultBoxArea">
                                <div class="rBoxHeader d-flex justify-content-between">
                                    <h4 class="p-0">Monthly Payment <span class="blue-text resultRate">$1,342.13</span></h4>
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            View Closing Costs
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                            <div class="gContentRate">
                                                <ul class="m-0">
                                                    <li>Net Fees <span>$6797.50</span></li>
                                                    <li>VA Funding Fee <span>$0.00</span></li>
                                                    <li>Mortgage Insurance <span>$0.00</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rBoxContent">
                                    <div class="imgList">
                                        <div class="gImage">
                                            <img src="assets/images/graph-circle.svg" class="img-fluid" alt="" />
                                        </div>
                                        <div class="gContentList">
                                            <ul class="m-0">
                                                <li><div><span class="fColor"></span> Principal And Interest</div> <h5>$884.20</h5></li>
                                                <li><div><span class="sColor"></span> Taxes</div> <h5>$208.33</h5></li>
                                                <li><div><span class="tColor"></span> Insurance</div> <h5>$291.67</h5></li>
                                                <li><div><span class="ftColor"></span> PMI</div> <h5>$0.00</h5></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gContentRate">
                                        <div class="sContent">
                                            <span>You Will Save</span>
                                        </div>
                                        <h3 class="blue-text">$ 457.87 <small>Per Month</small></h3>
                                        <ul class="m-0">
                                            <li>Term <span>30-Year Fixed</span></li>
                                            <li>Rate/APR <span>2.99% / 3.217%</span></li>
                                            <li>Monthly Payment <span>$1,342.13</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="rBoxFooter">
                                    <a href="javascript:void(0);" class="btn">Get Your Custom Rate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 p-0">
                <div class="mcContent">
                    <h5>Does It Make Sense To Refinance?</h5>
                    <p>
                        Deciding if it makes sense to refinance starts with this question: What are your financial goals? Whether you want to lower your monthly payment,
                        get a lower interest rate, shorten your term or do a cash-out refinance, our refinance calculator can help you determine if refinancing can help you meet your goals.
                    </p>

                    <h5>How Can I Get An Estimate Of My Rate?</h5>
                    <p>
                        Our refinance calculator uses today’s current rates. Once you enter your numbers and pressing “Calculate,” you’ll see a list of recommended loans, terms and rates.
                        If you like what you see, you can get started by contacting a Home Loan Expert or applying online with Rocket Mortgage®.
                    </p>

                    <h5>How Can Refinancing Lower My Monthly Mortgage Payment?</h5>
                    <p>To lower your monthly payment, look for a refinance option that helps you do one or more of the following:</p>

                    <h5>How Can Refinancing Lower My Monthly Mortgage Payment?</h5>
                    <p class="pb-2">To lower your monthly payment, look for a refinance option that helps you do one or more of the following:</p>

                    <ul class="m-0">
                        <li>
                            Lock in a lower interest rate - The higher your interest rate, the more you pay for your mortgage, both now and in the future. Refinancing to a loan with a
                            lower rate means you could get a lower payment as long as you don’t shorten the length of your mortgage term.
                        </li>

                        <li>
                            Stop paying for private mortgage insurance (PMI) - If you put less than 20% down on your original home loan, chances are you're paying for PMI. If your home
                            has increased in value and/or you have enough equity, you can refinance to eliminate this costly monthly payment.
                        </li>

                        <li>
                            Get a longer loan term - When you refinance to a longer-term loan, you're stretching the amount you owe over a longer period of time. While you might pay
                            more in interest overall, your monthly payment will decrease.
                        </li>
                    </ul>

                    <h5>What Are The Advantages Of Refinancing To A Shorter Loan Term?</h5>
                    <p>
                        You'll be able to own your house sooner than you would with your current mortgage, which may put you in a better financial situation down the road. In the meantime,
                        you'll likely save quite a bit on interest, since loans with shorter repayment periods generally have lower interest rates.
                    </p>

                    <h5>How Can I Take Cash Out Of My Home?</h5>
                    <p class="pb-2">
                        If you have enough equity in your home, you may be able to refinance to take cash out. Taking cash out means refinancing your home with a larger loan amount.
                        Your new loan pays off your existing loan, and you get to pocket the difference.
                    </p>
                    <p>
                        Many homeowners take cash out to pay off high-interest debt or fund home improvements. The cash you get from a cash-out refinance is tax free and yours to spend
                        however you choose.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

