<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Call Back</title>
</head>
<body>  
    <div class="invoiceArea" style=" width: 60%; height: auto; padding: 15px; background-color: #f1f1f1; margin: 0 auto; display: block;">
        <div class="borderclass" style="border: 1px solid #a1a1a1; padding: 15px;">
            <label for="" style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 30px; padding: 0px 0 5px;">Hypotec</label>

            <hr style="margin-top: 15px;" />
            <h1> Request Call Back Applied</h1>
            <h2 style="font-family:Arial, Helvetica, sans-serif; font-weight: 600; font-size: 22px; padding-top: 10px;">Candidate Details</h2>
            <label for="" style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 16px; padding: 0px 0 5px;">Name: </label>
            <label for="" style="width: 50%; height: 40px; border-radius: 4px; background-color: #c6c6c6; border: 1px solid #bebebe;">#Name ,</label>

            <label for="" style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 16px; padding: 15px 0 5px;">Phone Number: </label>
            <label for="" style="width: 50%; height: 40px; border-radius: 4px; background-color: #c6c6c6; border: 1px solid #bebebe;">#PhoneNumber ,</label>

            <label for="" style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 16px; padding: 15px 0 5px;">Email Id: </label>
            <label for="" style="width: 50%; height: 40px; border-radius: 4px; background-color: #c6c6c6; border: 1px solid #bebebe;">#EmailId ,</label>

            <label for="" style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 16px; padding: 15px 0 5px;">Message: </label>
            <label for="" style="width: 50%; height: 40px; border-radius: 4px; background-color: #c6c6c6; border: 1px solid #bebebe;">#Message</label>
        </div>
            
     
        </div>
</body>
</html>